name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x
          cache: true
          cache-dependency-path: |
            **/*.csproj
            **/packages.lock.json

      - name: Restore
        run: dotnet restore BloodWatch.sln

      - name: Build
        run: dotnet build BloodWatch.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test BloodWatch.sln --configuration Release --no-build --verbosity normal
